
[data-antn-type="annotation"] {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    opacity: 0.87;
}
[data-antn-type="paragraph"] {
    margin: 1em auto;
}
[data-antn-type="marker"] {
    text-align: center;
}
[data-antn-type="inline"] {
    color: #FF6F00;
    text-decoration: none;
}
[data-antn-type="inline"][data-antn-next] {
    color: #FF6F00;
    text-decoration: none;
}
[data-antn-type="callout"] {
    display: none;
    font-size: 0.87em;
    padding-top: 1.3em;
}
[data-antn-type="callout"][data-antn-selected="selected"] {
    position: absolute;
    display: block;
    margin-left: -330px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
    padding: 7px;
    min-height: 100px;
}
[data-antn-type="input"] {    display: block;
    resize: none;
    margin-top: 1.3em;
    width: 98%;
    min-height: 100px;
}

/** CSS3 Animations **/
[data-antn-type="annotation"] {
    -webkit-animation: fadeIn 1200ms;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; margin-top: 25%; }
    to { opacity: 1; margin-top: 0; }
}
[data-antn-next] {
    -webkit-animation-duration: 4s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: normal, reverse;
    -webkit-animation-iteration-count: infinite;
 }
@-webkit-keyframes glow {
    0%  { text-shadow: 0 0 2px rgba(255, 111, 0, 0); }
    50% { text-shadow: 0 0 2px rgba(255, 111, 0, 0); }
    60% { text-shadow: 0 0 2px rgba(255, 111, 0, 0.5); }
    70% { text-shadow: 0 0 2px rgba(255, 111, 0, 1); }
}

.drop_menu {
background: #000000;
padding:0;
margin:0;
list-style-type:none;
height:30px;
}
.drop_menu li {
    float:left;
}
.drop_menu li a {
  padding:9px 20px;
  display:block;
  color:#fff;
  text-decoration:none;
  font:12px arial, verdana, sans-serif;
}
.drop_menu ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    list-style-type: none;
}
.drop_menu li:hover {
    position: relative;
    background: #000000;
}
.drop_menu li:hover ul {
  left:0px;
  top:30px;
  background:#000000;
  padding:0px;
}
.drop_menu li:hover ul li a {
  padding:5px;
  display:block;
  width:168px;
  text-indent:15px;
  background-color:#000000;
  }
.drop_menu li:hover ul li a:hover {
    background:#FF6F00;
}

